.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  list-style: none;
}

.SearchingBox {
  position: relative;
  padding: 32px 0 32px 0;
  background-color: #eeeeee;
  height: 188px;
}

.SearchingPlace {
  position: absolute;
  left: 10px;
  margin-left: -30px;
}

.searchingInp {
  height: 52px;
  width: 315px;
  margin-bottom: 20px;
}

.SearchingBtn {
  position: absolute;
  right: 16px;
}

.nav-menu {
  justify-content: center;

  position: fixed;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: 700px;
}
.Location_item {
  height: 120px;
  width: 410px;
  margin: 24px;
  background-color: orangered;
}
