.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.flexSrink_0 {
  flex-shrink: 0 !important;
}
li {
  list-style: none;
}
.width_1 {
  width: 478px;
}
.width_2 {
  width: calc(100% - 478px);
}

.SearchingBox {
  position: relative;
  padding: 32px 0 32px 0;
  background-color: #eeeeee;
  height: 120px;
}

.SearchingPlace {
  position: absolute;
  left: 0px;
  margin-left: 0px;
}

.searchingInp {
  height: 52px;
  width: 315px;
  margin-bottom: 20px;
}

.SearchingBtn {
  position: absolute;
  right: 16px;
  margin-top: 2px;
}

.L_nav-menu {
  justify-content: center;

  position: fixed;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: calc(100vh - 200px);
}
/* scrollbar css */
.L_nav-menu::-webkit-scrollbar {
  width: 10px;
}
.L_nav-menu::-webkit-scrollbar-track {
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-radius: 2px;
}

.L_nav-menu::-webkit-scrollbar-thumb {
  background: #e74c3c;
  border-radius: 2px;
}

.Location_item {
  display: flex;
  height: 140px;
  width: 430px;
  margin: 24px 10px 24px 16px;
  /* background-color: orangered; */
  position: relative;
  border-bottom: 2px solid #707070;
}
.photoBox {
  height: 138px;
  width: 138px;
  background-color: rgb(228, 255, 228);
  overflow: hidden;
}

.photoBox img {
  height: 138px;
}
.Location_item button {
  position: absolute;
  right: 0;
  bottom: 8px;
}
.Location_item h5 {
  margin-left: 8px;
  margin-bottom: 8px;
}

.Location_item .address {
  position: absolute;
  left: 146px;
  top: 40px;
}
.Location_item .time {
  position: absolute;
  left: 146px;
  top: 68px;
}
.Location_item .phone {
  position: absolute;
  left: 146px;
  top: 96px;
}

.Location_item .addressA {
  position: absolute;
  left: 220px;
  top: 40px;
  width: 220px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Location_item .timeA {
  position: absolute;
  left: 220px;
  top: 68px;
}

.Location_item .phoneA {
  position: absolute;
  left: 220px;
  top: 96px;
}

/* --------------------infobox-------------- */
.Location_infobox .photoBox {
  height: 200px;
  width: 200px;
  background-color: rgb(228, 255, 228);
  overflow: hidden;
}
.Location_infobox .title_and_img {
  display: flex;
  justify-content: space-between;
}
.Location_infobox .photoBox img {
  height: 200px;
}
