@import './ODCustom.scss';
// 購物車步驟樣式( OD_Step )
.step {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    color: #cacaca;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    svg {
      color: #cacaca;
    }
    p {
      color: #cacaca;
      margin: 0;
    }
    div {
      height: 3.5rem;
      width: 3.5rem;
      border: 1px solid #cacaca;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem;
      position: relative;
      .coin {
        transform: translate(-0.6rem, 0rem);
      }
      .truck {
        transform: translate(0.7rem, 0.1rem);
      }
      .divide {
        position: absolute;
        transform: rotate(-45deg);
      }
    }
  }
  .activBorder {
    border: 1px solid #b02825;
  }
  .activeColorPrimary {
    color: #b02825;
  }
  .activeColorSecondary {
    color: #242424;
  }
}
// 購物車首頁樣式 ( OD_Cart )
.cartHome {
  .card-header {
    padding-bottom: 0.8rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: transparent;
    a {
      padding: 0;
      p {
        margin: 1rem 0;
      }
    }
  }
}
// 租賃買賣選擇呈現樣式 ( OD_CartMotor OD_CartProduct )
.lease {
  display: flex;
  align-items: center;
  margin: 0;
  label {
    margin-bottom: 0;
    .row {
      align-items: center;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
      .col-1,
      .col-2,
      .col-3,
      .col-4 {
        margin: 0;
        padding-left: 2rem;
        padding-right: 0;
        line-height: 100%;
      }
      h6 {
        text-align: end;
        color: #b02825;
      }
      .inputAmount {
        border: 1px solid #b02825;
      }
      .inputAmount:read-only {
        background: none;
      }
    }
  }
  hr {
    margin: 1.5rem 0;
    margin-left: 2.5rem;
  }
}
// 購物車總結樣式 ( OD_GrandTotal )
.cartTotal {
  background-color: #f5f5f5;
  padding: 2rem;
  .row {
    margin: 0 1rem;
    .col-2,
    .col-6,
    .col-8 {
      padding: 0;
    }
    p {
      padding: 0;
      margin-bottom: 0;
      font-size: 14px;
      span {
        font-size: 19px;
      }
    }
  }
}
// 購物車運送頁樣式 ( OD_CheckoutONE )
.invoiceChose {
  .form-group {
    flex-direction: column;
    .row {
      justify-content: space-between;
      .form-check {
        input {
          margin-bottom: 0;
        }
        label {
          margin-left: 1.5rem;
          font-size: 16px;
        }
      }
      p {
        margin: 0;
        span {
          font-size: 14px;
          color: #cacaca;
        }
      }
    }
  }
}
// 購物車填寫表樣式 ( OD_CheckoutTWO )
.CheckTwo {
  // FORM表單樣式 ( OD_CKO_Person OD_CKO_Credit OD_CKO_Invoice )
  label {
    text-align: right;
    font-size: 14px;
    color: #242424;
  }
  .form-control {
    outline: none;
    border: 1px solid transparent;
  }
  .form-control:focus {
    border-color: transparent;
    border-bottom: 1px solid #e27573;
    box-shadow: 0 0.2rem 0 -0.1rem rgba(176, 40, 37, 0.25);
  }
  .form-control::placeholder {
    color: #cacaca;
    opacity: 1;
  }
  .form-row {
    position: relative;
  }
  .localLine {
    position: absolute;
    left: 50%;
    transform: rotate(90deg);
  }
  .creditLine {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      transform: rotate(-60deg);
    }
  }
  // 與訂購人相同勾選樣式 ( OD_CKO_Person )
  .Recipient {
    display: flex;
    .form-group {
      margin-left: 2rem;
      margin-bottom: 0;
      label {
        margin-left: 0.5rem;
        font-size: 14px;
      }
    }
  }
  // 發票按鈕樣式 ( OD_CKO_Invoice )
  .btn-outline-light {
    width: 12.5rem;
    padding: 0.75rem 0;
    border-radius: 0.25;
  }
  .btn-outline-light:hover {
    color: #b02825;
    background-color: transparent;
    border-color: #b02825;
  }
  // 發票點選後樣式 ( OD_CKO_Invoice )
  .InvoiceActive {
    color: #b02825;
    background-color: transparent;
    border-color: #b02825;
  }
  // 同意條款
  .terms {
    .form-group {
      background-color: #f5f5f5;
      padding: 1rem 2rem;
      label {
        margin-left: 0.5rem;
        font-size: 14px;
      }
    }
  }
}
// 消費者查看購買項目樣式 ( OD_CKO_Detail )
.accordion {
  margin-bottom: 0;
  .card {
    border: transparent;
    .card-header {
      border-bottom: transparent;
      svg {
        margin-left: 0.5rem;
      }
      .transfromArrow {
        transform: rotate(180deg);
      }
    }
    .card-body {
      padding: 0;
      .card-body {
        border: 1px solid #cacaca;
        padding: 2rem;
        .form-group {
          display: none;
        }
      }
    }
  }
}
// 訂單詳情樣式 ( OD_CartReport )
.cartReport {
  .card-body {
    .row {
      div {
        .row {
          p {
            margin-bottom: 0;
          }
          p:first-child {
            // text-align: right;
            // font-weight: 600;
            color: #b02825;
          }
          p:last-child {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }
}
