@import './ODC.scss';
.card-header {
  a {
    padding: 0;
    p {
      margin: 1rem 0;
    }
  }
}
.card-body {
  .lease {
    align-items: center;
    .form-group {
      margin-right: 1.5rem;
    }
    .cardContent {
      width: 100%;
      hr {
        margin: 1.5rem 0;
      }
      .row {
        display: flex;
        align-items: center;
        margin: 0 1rem;
        margin-top: 1rem;

        img {
          width: 100%;
          object-fit: cover;
          object-position: center center;
        }
        .col-1,
        .col-2,
        .col-3,
        .col-4,
        .col-5 {
          margin: 0;
          padding-left: 2.5rem;
          padding-right: 0;
          line-height: 100%;
        }
        .motorImage {
          padding: 0;
        }
        h6 {
          text-align: end;
          color: #b02825;
        }
      }
    }
  }
}

