@import './ODC.scss';
label {
  text-align: right;
  font-size: 14px;
}
.form-control {
  outline: none;
  border: 1px solid transparent;
  color: #cacaca;
}
.form-control:focus {
  border-color: transparent;
  border-bottom: 1px solid #e27573;
  box-shadow: 0 0.2rem 0 -0.1rem rgba(176, 40, 37, 0.25);
}
.form-control::placeholder {
  color: #cacaca;
  opacity: 1; /* Firefox */
}
.form-row {
  position: relative;
}
.localLine {
  position: absolute;
  left: 50%;
  transform: rotate(90deg);
}
.creditLine {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    transform: rotate(-60deg);
  }
}
.btn-outline-light {
  width: 12.5rem;
  padding: 0.75rem 0;
  border-radius: 0.25;
}
.btn-outline-light:hover {
  color: #b02825;
  background-color: transparent;
  border-color: #b02825;
}
button.finalBtn {
  margin-left: 5rem;
}
.colorLight {
  color: #cacaca;
}
.colorDanger {
  color: #e74c3c;
}
.Caption {
  font-size: 14px;
  margin: 0;
}
.fontSize14 {
  font-size: 14px;
  margin: 0;
}
