@import './ODC.scss';
.invoiceChose {
  .form-group {
    flex-direction: column;
    .row {
      justify-content: space-between;
      .form-check {
        input {
          margin-bottom: 0;
        }
        label {
          margin-left: 1.5rem;
          font-size: 16px;
        }
      }
      p {
        margin: 0;
        span {
          font-size: 14px;
          color: #cacaca;
        }
      }
    }
  }
}
