.A-card {
  margin-top: 48px;
  div {
    margin-right: 24px;
    div {
      padding: 48px;
    }
  }
}

.MBI {
  margin: 0 auto;
  margin-top: 48px;
  height: 640px;
  width: 640px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}
.MBItr {
  tr {
    height: 80px;
    td {
      vertical-align: middle;
      padding-right: 80px;
    }
  }
}
.MBItdR {
  width: 413px;
  text-align: right;
}
.MBItdC {
  width: 400px;
  text-align: right;
}
.MBItdL {
  width: 413px;
  text-align: left;
  padding-right: 50px;
}

.A-login > div {
  margin: 0 auto;
  margin-top: 56px;
  height: 480px;
  width: 960px;
  border: 1px solid #000000;
  border-radius: 3px;

  form {
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 560px;
    padding: 0;
    max-width: 600px;
    width: 350px;
  }
}

.A-member {
  h3 {
    text-align: center;
  }
  h4 {
    margin-top: 48px;
    margin-bottom: 16px;
  }
  .container {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
