// 預設變數覆蓋需要在導入Bootstrap之前
$primary: #b02825;
$secondary: #242424;
$info: #f5f5f5;
$light: #cacaca;
$danger: #e74c3c;

// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

// 版面樣式
@import './header.scss';
@import './content.scss';
@import './footer.scss';
//購物車樣式
// @import '../pages/order/order.scss';
