.step {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}
.step > div > div {
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid #cacaca;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  position: relative;
}
.step > div > div > .coin {
  transform: translateY(-0.6rem);
}
.step > div > div > .truck {
  transform: translateY(0.6rem);
}
.step > div > div > .divide {
  position: absolute;
  transform: rotate(-45deg);
}
.step > div > p {
  color: #cacaca;
}
