.page-link {
  cursor: pointer;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* ---------products_area--------- */
.productsArea {
  width: 100%;
  /* min-height: 100vh; */
  padding-left: 15px;
  display: flex;
  justify-content: left;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  margin: 0px 0;
}

.productsArea .P_card {
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  height: 400px;
  /* box-shadow: 0 0 5px #ccc; */
  border: rgb(209, 209, 209) 1px solid;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.P_card img {
  width: 100%;
  height: 100%;
  height: 210px;
  display: block;
  object-fit: contain;
  transition: transform 0.2s linear;
}

.P_card img:hover {
  transform: scale(1.2);
  /* transition-duration: 0.5s; */
}

.P_card .card-text {
  /* text-transform: uppercase; */
  overflow: hidden;
  /* white-space: nowrap; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #242424;
}

.P_card .card-title {
  /* text-transform: uppercase; */
  overflow: hidden;
  /* white-space: nowrap; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #242424;
}

.P_card .price_space {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

/* -------------------Detail ---------------*/
.P_details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.P_img-container {
  height: 500px;
  min-width: 315px;
  width: 100%;
  /* margin: 8px; */

  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  background-size: 98%;
}

.P_img-container:hover {
  background-size: 200%;
  border: 1px solid #ddd;
  cursor: zoom-in;
}

/* -------------Detail small photo-------------- */
.P_D_smallPhoto {
  height: 80px;
  /* display: block; */
  object-fit: cover;
  margin: 5px;
  overflow: hidden;
  /* border: gray 1px solid; */
  cursor: pointer;
}

.P_D_smallPhoto .active {
  border: solid red 1px;
}

/* ----------------Detail box ----------------------*/
.P_details .box-details {
  max-width: 440px;
  height: 100%;
  margin: 10px;
}

/* -------------Detail color selector------------- */
.Product_color_selector {
  height: 60px;
  border: none;
  overflow: hidden;
}

.Product_color_selector:focus {
  outline: none;
}

.Product_color_selector option {
  width: 56px;
  height: 56px;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
  border: rgb(129, 129, 129) solid 1px;
  border-radius: 3px;
  /* color: rgb(145, 145, 145); */
}

/* -------------Detail size selector------------- */
.Product_size_selector {
  height: 60px;
  border: none;
  overflow: hidden;
}

.Product_size_selector:focus {
  outline: none;
}

.Product_size_selector option {
  width: 56px;
  height: 56px;
  font-size: 16px;
  padding: 16px;
  text-align: center;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
  border: rgb(129, 129, 129) solid 1px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: gray;
}

/* Amount selector */
.P_amount {
  padding: 20px 0;
  margin-right: 100px;
}

.P_amount span {
  color: crimson;
  padding: 0 30px;
}

.P_amount .count {
  width: 40px;
  height: 30px;
  padding: 15px;
  border: 1px solid #555;
  outline: none;
  background: #555;
  cursor: pointer;
  color: white !important;
}

/* addtocart btn color */
.addtocart-btn {
  background: #e74c3c;
  color: white !important;
  padding: 16px 48px;
}

/* ------------------Product sidenav----------------- */
.P_Sidenav {
  cursor: pointer;
}

.P_sidenav_transition {
  transition-duration: 500ms;
}

.P_sidenav_cardbody {
  margin-left: 4rem;
  /* border-bottom: gray solid 1px; */
}

.P_sidenav_cardbody .sidemenu_item {
  height: 2rem;
}

.P_sidenav_Flex {
  display: flex;
  justify-content: space-between;
}
