.blockContainer {
  .container {
    margin: 0 auto;
    padding: 0;
    padding: 3rem 0;
    min-height: calc(100vh - 336px);
  }
}

.noneContainer {
  margin: 0 auto;
  padding: 0;
  min-height: calc(100vh - 336px);
}
