// 其它自訂樣式
@import './styles/custom.scss';

// 全站都會使用的共同樣式
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}
h1 {
  font-family: unquote('Noto Sans TC');
  font-size: 93px;
}
h2 {
  font-family: unquote('Noto Sans TC');
  font-size: 58px;
}
h3 {
  font-family: unquote('Noto Sans TC');
  font-size: 47px;
}
h4 {
  font-family: unquote('Noto Sans TC');
  font-size: 33px;
}
h5 {
  font-family: unquote('Noto Sans TC');
  font-size: 23px;
}
h6 {
  font-family: unquote('Noto Sans TC');
  font-size: 19px;
}
p {
  font-family: unquote('Noto Sans TC');
  font-size: 16px;
}

input[type='radio'],
input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}
